@import "flatpickr/dist/flatpickr.min.css";
@import "izitoast/dist/css/iziToast.min.css";

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.timer-input {
    width: 272px;
    height: 40px;
    margin-right: 8px;
    padding: 0px 0px 0px 16px;
    border: 1px solid #808080;
    border-radius: 4px;

    outline: transparent;
    transition: border 250ms linear;
}

.timer-input:hover,
.timer-input:focus {
    border: 1px solid #000;
}

input.active {
    border: 1px solid #4e75ff;
    outline: none;
    color: #000000;
}

input.disabled {
    border: 1px solid #808080;
    color: #808080;
    cursor: not-allowed;
}

.timer-button {
    border-radius: 8px;
    min-width: 75px;
    padding: 0;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    transition: background-color 250ms linear;

    border: transparent;
    background-color: #4e75ff;
}

.timer-button:hover,
.timer-button:focus {
    background-color: #6c8cff;
}

button.disabled {
    background-color: #cfcfcf;
    color: #989898;
    cursor: not-allowed;
}

button.disabled:hover,
button.disabled:focus {
    background-color: #cfcfcf;
}

.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    text-align: center;
}

.value{
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}